---
layout: default
---

<h2>Fun Projects</h2>
<p>These are some of the projects I have done to amuse myself. Most of them don't use any extra library and written from scratch without coying code from anywhere.</p>
<p>All are tested on Chrome (v55 as of this writing) on Desktop resolution (1200px wide).</p>
<div class="flex-grid">
{% for funProject in site.data.fun-projects %}
    <div class="flex-grid-item">
        <a href="project/{{ funProject.title | slugify }}">
            <div class="fun-project-screen" style="background-image:url(/project/{{ funProject.title | slugify }}/screen.jpg)">{{ funProject.title }} image</div>
            
        </a>
        <h4><a href="project/{{ funProject.title | slugify }}">{{ funProject.title }}</a></h4>
        <p>{{ funProject.description }}</p>
        {% assign skills = funProject.skills | split:',' %}
        <ul>
            {% for skill in skills %}
            <li>{{skill}}</li>
            {% endfor %}
        </ul>
    </div>
{% endfor %}
</div>
