:root {
    --silver: #BCBEC0;
    --crimson: #D2232A;
    
    --transition-duration: 0.3s;
}
body, html {
    height: 100%;
}
.flex {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    
    -ms-align-items: center;
    align-items: center;
    
    justify-content: center;
}
.dial-container {
    display: inline-block;
}
.zigzag-dial {
    fill: var(--silver);
}
.outermost-dial {
    stroke: var(--silver);
    fill: none;
}
#weekday {
    letter-spacing: -0.5px;
}

.hourhand {
    transform-origin: bottom right;
    transform: rotate(60deg);
}
#secondhand, #minutehand, #hourhand {
    transition: all var(--transition-duration);
}

#secondhand-primary-color {
    fill: var(--crimson);
}

 #hourhand {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
     -webkit-transition-timing-function: ease-in;
     -o-transition-timing-function: ease-in;
     transition-timing-function: ease-in;
 }

#minutehand {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    
    -webkit-transition-timing-function: ease-in;
    -o-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
}
#secondhand {
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    
    -webkit-transition-timing-function: cubic-bezier(0.15, 2.41, 0.58, 1);
    -o-transition-timing-function: cubic-bezier(0.15, 2.41, 0.58, 1);
    transition-timing-function: cubic-bezier(0.15, 2.41, 0.58, 1);
}

h1 {
    text-align: center;
    font-family: Arial;
}

a.back {
    position: fixed;
    border-radius: 3px;
    background-color: rgba(0,0,0,0.2);
    color: var(--backbuttoncolor);
    top: 10px;
    left: 10px;
    text-decoration: none;
    padding: 0.2em;
    transition: background-color var(--animation-duration);
    font-family: Arial;
}
a.back:hover {
    background-color: rgba(0,0,0,0.5);
}

@keyframes rotateSecondHand {
    from {
        transform: rotate(0);
    }

}